 /* HOME PAGE */

.flex{
    width: 1100px;
    height: 75px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    background-image: url(../img/1.png);
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -99999px;
    display: flex;
    margin-top: 10px;
    z-index: 2;
}

.nav-bar, .logo, .donate{
    padding-top: 45px;
    vertical-align: middle;
}

.burger{
    display: none;
}

header ul{
    display: flex;
}

header li{
    margin-left: 40px;
}

header a, .header1{
    font-size: 16px;
    font-weight: bolder;
    text-transform: uppercase;
    color: #464646;
    font-family: sans-serif;
}

header a{
    position: relative;
}

header li a:hover{
    color: #000000;
    cursor: pointer;
}

header li a::before{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #537b3a;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transition: 1s;
}
header li a:hover:before{
    width: 50%;
}

header li a::after{
    content: "";
    width: 0%;
    height: 3px;
    background-color: #537b3a;
    position: absolute;
    bottom: -5px;
    right: 50%;
    transition: 1s;
}
header li a:hover::after{
    width: 50%;
}

.donate{
    background-color: #ffd230;
    padding: 20px;
    margin-top: 20px;
    border: 2px solid #000000;
}

.home-section1{
    max-width: 100%;
    height: 100vh;
    background-image: url(../img/petsback.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25%;
    position: relative;
    margin-top: 20px;
}

.graybox{
    width: 100%;
    background-color: #403b3b;
    opacity: 90%;
    position: absolute;
    bottom: 2px;
}

.box-heading{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.logo, header li, header{
    cursor: pointer;
}

.active{
    color:#537b3a;
}

.home-section2, .home-section3{
    max-width: 1200px;
    padding: 30px;
}

.home-section3{
    padding: 0;
}

.home-container2,.home-container3{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section2pic{
    width: 400px;
    border-radius: 100%;
    opacity: 80%;
}

.section2text{
    width: 500px;
    margin-top: 5%;
    text-align: center;
}

.heading5{
    font-family: 'Exo 2';
    font-size: 25px;
    color: #464646;
    text-transform: uppercase;
    font-weight: bold;
}

.text2{
    margin-top: 20px;
}

.home-container3{
    background-color: #403b3b;
    padding: 30px 0;
}

.home-container3 .heading5, .home-container3 .text2{
    color: #d2cfcf;
}

.read{
    color: #caa57e;
}


/* ABOUT US */

.goals-container{
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}

.heading3{
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.pic1{
    width: 500px;
    border-radius: 25%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.goaltext{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Slider */

.item{
    height: 400px;
    overflow: hidden;
}

.carouselpic{
    position: relative;
}

.item p{
    position: absolute;
    bottom: 10px;
    left: 25%;
    font-size: 30px;
    font-weight: bolder;
    color: #ffffff;
    text-shadow: 2px 2px #000000
}

.owl-theme, .owl-nav{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.owl-theme, .owl-nav [class*=owl-]{
    font-size: 80px;
    color: #ffffff;
}

/* message box */

.messagecontainer, .messagebox{
    background-color: #ffffff;
    font-family: 'Bebas Neue';
}

.message{
    width: 300px;
    padding: 15px;
    font-family: 'Bebas Neue';
    font-weight: bold;
    text-align: center;
    background-color: #537b3a;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.message:hover{
    cursor: pointer ;
}


.messagebox{
    width: 300px;
    border: 2px solid #000000;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    z-index: 2;
}

.boxheader{
    font-family: 'Bebas Neue';
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000000;
}

.close{
    padding: 5px;
    font-weight: 600;
}
.boxmain{
    width: 100%;
    padding: 10px;
}

.boxmain input, .boxmain textarea{
    font-family: 'Bebas Neue';
    width: 100%;
    padding: 15px;
    outline: none;
    border: 2px solid #000000;
    margin-bottom: 20px;
    
}

.boxmain textarea{
    resize: none;
}

.boxmain .send{
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: #ffd230;
    color: #ffffff;
}

.send:hover, .close:hover{
    cursor: pointer;
}

.message, .messagebox, .boxmain input, .boxmain textarea, .send{
    border-radius: 20px;
}

/* map */

.maps{
    width: 100%;
    margin-top: 100px;
}

/* registration, log in form */

.regpic{
    background-image: url(../img/regpic.jpg);
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: 100%;
    text-indent: -99999px;
    margin-top: 100px;
    padding-bottom: 50px;
}

.regform{
    display: flex;
    justify-content: space-around;
    margin-top: 120px;
}

.regform p{
    color: #000000;
}

form input{
    width: 80%;
    height: 50px;
    border-radius: 10px;
    margin-top: 20px;
    padding-left: 5px;
    outline: none;
}

.remember{
    margin-top: 10px;
}

form input[type="submit"]{
    background-color: #4e9436;
}
form input[type="submit"]:hover{
    background-color: #69b450;
    cursor: pointer;
}

.answer{
    font-size: 18px;
    color: rgb(206, 20, 20);
    background-color: #ffffff;
}

/* footer */

footer{
    background-color: #403b3b;
}

.ending{
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    padding: 50px 0 50px 0;
}

.logo2{
    width: 120px;
}

.social{
    display: flex;
}

footer .fa-square-facebook, footer .fa-square-instagram{
    font-size: 50px;
    color: #ffffff;
    margin-right: 5px;
}

footer .copyright, .fa-envelope, .fa-phone,.fa-location-dot, .text6{
    font-size: 12px;
    color: #ffffff;
}

.heading6{
    color: #ffffff;
    text-transform: uppercase;
}

.contact-li{
    margin-top: 10px;
}

.text6{
    font-size: 18px;
    margin: 5px;
}

.copyright{
    max-width: 140px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 50px;
}

.text6:hover{
    color: #ffd230;
}

.fa-square-facebook:hover{
    color: #ffd230;
}

.fa-square-instagram:hover{
    color: #ffd230;
}